

body {
        padding: 2%;
        margin: 0px;
        margin-top: 0px;   
    }

h1  {
        font-size: 36px;
        font-family: consolas;
    }

h2 {
        color: rgb(231, 5, 129);
        font-size: 28px;
        font-family: consolas;
    }

p   {
        font-size: 16px;
        font-family: Courier;
    }

.lines  {
            text-align: center
        };
